/* 79CBDB */

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

header{
}

.top{
    height: 60px;
    background: #242526;
    color: white;
}

.top-desc{
    text-align: center;
    font-size: 30px;
    margin: 170px 0;
}

.top-desc h1{
    color: #212025;
    letter-spacing: 10px;
}

.top-desc p{
    color: #A7A6AC;
    margin-top: 10px;
    letter-spacing: 5px;
}

main{
    /* background: chartreuse; */
    margin: 50px auto;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 1fr 3fr;
    font-size: 30px;
    max-width: 1700px;
}

main > *{
    /* background: chocolate; */
    color: #242526;
}

.section-header{
    letter-spacing: 5px;
    padding-bottom: 10px;
}

.line{
    height: 5px;
    background: #242526;
    border-radius: 5px;
}

.place, .title{
    font-weight: 800;
    letter-spacing: 1px;
    margin-right: 20px;
}

.date{
    text-align: right;
}

.content{
    font-size: 20px;
    margin: 40px 0;
    line-height: 35px;
    text-align: justify;
}

.cont-small{
    margin: 16px 0;
}

.content-head{
    display: grid;
    grid-template-columns: 14fr 11fr 4fr;
    text-transform: uppercase;
}

.head2{
    grid-template-columns: 7fr 9fr 4fr;
}

.content-head > div:last-of-type{
    font-size: 16px;
}

.content-head-left{
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-transform: uppercase;
}

.dot{
    height: 5px;
    width: 5px;
    border-radius: 2.5px;
    background: #242526;
}

.dot-container{
    display: inline-block;
    margin-right: 20px;
    height: 9px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    font-weight: 800;
}

section.profile .dot, section.games .dot, section.skills .dot, section.achievements .dot {
    background: #828286;
}

.tag{
    background: #878b8dd5;
    color: white;
    padding: 5px 10px;
    margin: 5px 10px 5px 0;
    border-radius: 5px;
}

section.profile, section.games, section.skills, section.achievements, .links-contact{
    color: #57575e;
}

section.profile > .line, section.games > .line, section.skills > .line, section.achievements > .line{
    background: #646469;
}

.links-contact > *{
    margin-bottom: 15px;
}

.links-contact i{
    margin-right: 15px;
    display: inline-block;
    width: 25px;
}

.content-link{
    margin-top: 0;
}

.projcet-link{
    font-weight: normal;
    color: #106a7a;
    text-decoration: none;
    border-bottom: 1px solid #106a7a;
}

.info a{
    text-decoration: none;
}